$text-primary: #333333;
$text-secondary: #343434;

$nav-footer-color: #333;

$header-bg: #EF5E29;
$header-text: #FFFFFF;

$link-primary-color: #00FF00;
$link-primary-hover: darken($link-primary-color, 20%);

$bg-color: #EEE;

$cta-color: #0022EE;
