// Modules and Variables
@import "modules/base";

body {
  @include box-sizing(border-box);
  background-color: $bg-color;
  position: relative;
}

nav {
  width: 100%;
  height: 60px;
  background: $nav-footer-color;
  text-align: right;
  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 20%;
    }
  }
}

header {
  @include fullwidth();
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../img/flappy-bird.png");
  background-position: center;
  background-size: cover;
  background-color: $header-bg;
  h1 {
    text-align: center;
    @include font-size(38);
    margin: 0;
  }
}

section {
  padding: 2rem;
}

footer {
  background-color: $nav-footer-color;
}

.intro {
  @include flexCenter();
  height: auto;
  padding: 2em;
  min-height: 200px;
  background-image: url("../img/swirl_pattern.png");
  background-repeat: repeat;
  background-blend-mode: overlay;
  background-color: rgb(242,245,88);
  p {
    text-align: center;
    margin: 0;
    @include font-size(18);
  }
}

.features {
  background-image: url("../img/halftone.png");
  background-repeat: repeat;
  background-blend-mode: overlay;
  background-color: #57D757;
  .cards{
    @include flexCenter();
    @include fullwidth();
    flex-flow: column;
    @media (min-width: $tablet){
      flex-flow: row;
    }
    .card {
      @include fullwidth();
      @media (min-width: $tablet){
        @include halfwidth();
      }
      @media (min-width: $desktop){
        @include thirdwidth();
      }
      text-align: center;
      h2 {
        margin: 0;
      }
    }
  }
}

.call-to-action {
  @include flexCenter;
  background-color: $cta-color;
  background-image: url("../img/escher.png");
  background-repeat: repeat;
  background-blend-mode: screen;
  button{
    text-align: center;
    margin: 1em;
    padding: .5em;
    width: 80%;
    height: auto;
    @include font-size(14);
    @include buttonPress();
    @include border-radius(5px);
    @media (min-width: $tablet){
      width: 40%;
    }
  }
}

footer {
  padding: 1em;
  color: #dddddd;
  text-align: center;
  background-color: $nav-footer-color;
  p{
    margin: 0;
  }
}
